

body {
	background-image : url("\eswp\WebContent\pic\sfondo.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;

	
}


input {
	color: blue;
}

